{namespace ttaddr=FriendsOfTYPO3\TtAddress\ViewHelpers}

<f:section name="address">
    <f:if condition="{address.address}">
        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <address>
                <span itemprop="streetAddress">{address.address}</span><br>
                <span itemprop="postalCode">{address.zip}</span>&nbsp;<span
                    itemprop="addressLocality">{address.city}</span><br>
                <span itemprop="addressCountry">{address.country}</span>
            </address>
        </div>
    </f:if>
</f:section>

<f:section name="position">
    <f:if condition="{address.position}">
        <p class="jobTitle" itemprop="jobTitle"><em>{address.position}</em></p>
    </f:if>
</f:section>

<f:section name="positionDetail">
    <f:if condition="{address.position}">
        <p class="jobTitle text-center" itemprop="jobTitle"><em>{address.position}</em></p>
    </f:if>
</f:section>

<f:section name="contact">
    <ul class="list-contactinformation">
        <f:if condition="{address.phone}">
            <li class="row">
                <label class="large-1">{f:translate(key:'label.telephone')}: </label>
                <a class="large-11" href="tel:{address.phone->ttaddr:removeSpaces()}">
                <span itemprop="telephone">{address.phone}</span>
            </a>
            </li>
        </f:if>

        <f:if condition="{address.email}">
            <li class="row">
                <label class="large-1">{f:translate(key:'label.email')}:</label>
                <f:link.email class="large-11" email="{address.email}"><span itemprop="email">{address.email}</span></f:link.email>
            </li>
        </f:if>

        <f:if condition="{address.www}">
            <meta itemprop="url" content="{f:uri.typolink(parameter:address.www)}"/>
            <li class="row">
                <label class="large-1">{f:translate(key:'label.www')}:</label>
                <f:link.typolink class="large-11" parameter="{address.www}">{address.www}</f:link.typolink>
            </li>
        </f:if>
    </ul>
</f:section>


<f:section name="specialdays">
  <h4 class="text-center specialdays">

    <f:if condition="{address.birthday}">
        <meta itemprop="birthDate" content="{address.birthday -> f:format.date(format:'%Y')}">
        {address.birthday -> f:format.date(format:'%Y')}
    </f:if>
    <f:if condition="{address.birthday} && {address.txDeathday}"> -</f:if>
    <f:if condition="{address.txDeathday}">
        <meta itemprop="deathDate" content="{address.txDeathday -> f:format.date(format:'%Y')}">
        {address.txDeathday -> f:format.date(format:'%Y')}
    </f:if>

  </h4>
</f:section>
