<div class="row selection">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row">
        
          <div class="large-10 middle-10 small-10 columns selectionletter">
            <a class="text-center" id="alle" href="missionare.html" >alle</a>
            <a class="text-center" href="missionare-a.html" >a</a>
            <a class="text-center" href="missionare-b.html" >b</a>
            <a class="text-center" href="missionare-c.html" >c</a>
            <a class="text-center" href="missionare-d.html" >d</a>
            <a class="text-center" href="missionare-e.html" >e</a>
            <a class="text-center" href="missionare-f.html" >f</a>
            <a class="text-center" href="missionare-g.html" >g</a>
            <a class="text-center" href="missionare-h.html" >h</a>
            <a class="text-center" href="missionare-i.html" >i</a>
            <a class="text-center" href="missionare-j.html" >j</a>
            <a class="text-center" href="missionare-k.html" >k</a>
            <a class="text-center" href="missionare-l.html" >l</a>
            <a class="text-center" href="missionare-m.html" >m</a>
            <a class="text-center" href="missionare-n.html" >n</a>
            <a class="text-center" href="missionare-o.html" >o</a>
            <a class="text-center" href="missionare-p.html" >p</a>
            <a class="text-center" href="missionare-q.html" >q</a>
            <a class="text-center" href="missionare-r.html" >r</a>
            <a class="text-center" href="missionare-s.html" >s</a>
            <a class="text-center" href="missionare-t.html" >t</a>
            <a class="text-center" href="missionare-u.html" >u</a>
            <a class="text-center" href="missionare-v.html" >v</a>
            <a class="text-center" href="missionare-w.html" >w</a>
            <a class="text-center" href="missionare-x.html" >x</a>
            <a class="text-center" href="missionare-y.html" >y</a>
            <a class="text-center is-active" href="missionare-z.html" >z</a>
          </div>

          <select id="country" name="country" class="countrySelect large-2 middle-2 small-2" onchange="(submit())">
            <option value="0">Bitte wählen Sie</option>
            <option value="1" name="Australien">Australien</option>
            <option value="6" name="Brasilien">Brasilien</option>
            <option value="2" name="Indien" selected="selected">Indien</option>
            <option value="3" name="Nordamerika">Nordamerika</option>
            <option value="7" name="Papua-Neuguinea">Papua-Neuguinea</option>
            <option value="4" name="Tansania">Tansania</option>
          </select>

        </div>
      </div>
</div>
