<div class="large-12 medium-12 small-12 columns contact" itemscope itemtype="http://schema.org/Person">

    <h5 class="noborder normal">
      {f:translate(key:'contactperson')}:
      {address.title}
      {address.firstName}
      {address.middleName}
      {address.lastName}<f:if condition="{address.position}">, {address.position}</f:if>

      <f:if condition="{settings.singlePid}">
          <f:then>
              <f:link.action action="show" arguments="{address : address}"
                             title="{address.firstTitle} {address.firstName} {address.middleName} {address.lastName}"
                             pageUid="{settings.singlePid}" class="link">
              </f:link.action>
          </f:then>
          <f:else>
            <p class="abstandNullBottom">&nbsp;</p>
          </f:else>
      </f:if>

    </h5>
</div>
